@model IEnumerable<VVS_projekat.Models.MembershipPayment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryMemberFk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryMemberFk)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MembershipPaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MembershipPaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MembershipPaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
