@model VVS_projekat.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherDiscount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoucherID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
