@model IEnumerable<VVS_projekat.Models.LibraryMember>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryUserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryUserPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipExpirationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LibraryMemberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LibraryMemberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LibraryMemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
