@model VVS_projekat.Models.Librarian

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Librarian</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibraryUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryUserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibraryUserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibrarianPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibrarianPhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LibrarianId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
